<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>new message</h2>

    <form action="http://localhost:8080/chats" method="post">
       <p>from:</p> <input type="text" name="from" placeholder="enter sender"><br><br>
       <p>to:</p><input type=" text" name="to" placeholder="enter receiver"><br><br>
       <p>msg:</p><textarea name="msg" style="height: 100px; width: 200px;" placeholder="enter message"></textarea>
       <br>
       <button>submit</button>
    </form>
</body>
</html>